{% extends "base.html" %}
{% block content %} 
<h1>Friend Requests</h1>
<ul>
{% for friendship_request in requests %}
    {% ifequal user friendship_request.to_user %}
        <li>{{ friendship_request.from_user }}
            <a href="{% url connections:accept friendship_request.id %}">accept</a>
            <a href="{% url connections:reject friendship_request.id %}">reject</a>
        </li>
    {% endifequal %}
{% empty %}
</ul>
<div>no requests..</div>
{% endfor %}

<hr />
{% load friendshiptags %}
<h1>Your Friends</h1> 
{% friends user %} 
{% endblock %} 
