{% extends "base.html" %}
{% load assignment_tags %}
{% load url from future %}

{% block title %}Detail Assignment{% endblock %}

{% block content %}

<h1>{{assignment.name}}</h1>
<hr>
{% if assignment.attachment %}
<a href="{{assignment.attachment.url}}">Download file</a>
{% endif %}

{{assignment.description|safe}}

{% if not user == assignment.course.professor %}

    {% if not user|already_submit:assignment %}
    <b>Submit Assignment</b>
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Upload file</button>
    </form>

    {% endif %}

{% endif %}
{% ifequal user assignment.course.professor %}
<hr>
<h1>Submissions</h1>
{% for member in members %}
    {% if member.user|already_submit:assignment %}
    <p><a href="{% url 'academy:user_assignment' assignment.course.university.slug assignment.course.pk assignment.pk member.user.username %}">{{member.user.display_name }} {% if not member.user|already_submit:assignment %}- haven't submitted{% endif %}</a></p>
    {% endif %}
{% endfor %}
{% endifequal %}
{% endblock %}