{% extends "base.html" %}
{% load url from future %}
{% load course_tags %}

{% block title %}{{course.name}} Course{% endblock %}

{% block content %}

{% with membership_status=user|membership_status:course  %}
<h2>"{{course}}" Course
    {% if user != course.professor %}
        {% if not membership_status %}
        <a href="{% url 'academy:join_course' course.pk %}" class="btn">Join this course</a>
        {% endif %}
    {% endif %}
</h2>
{% endwith %}

<hr>

{% if user|is_member_of:course or user|is_manager_of:course %}
<h4>Syllabus</h4>
{% if user|is_manager_of:course %}
<a href="{% url 'academy:create_syllabus' course.pk %}">Create New Syllabus</a>
<br>
{% endif %}
{% for syllabus in syllabuses %}
    <p>
    <h4>{{syllabus.name}}</h4>
    <a href="{{syllabus.attachment}}">file</a>
    <br>
    {{syllabus.description}}
    </p>
{% endfor %}
<hr>
<h4>Assignment</h4>
{% if user|is_manager_of:course %}
<a href="{% url 'academy:create_assignment' course.pk %}">Create New Assignment</a>
<br>
{% endif %}

{% for assignment in assignments %}
    <p>
    <h4><a href="{% url 'academy:detail_assignment' assignment.pk %}">{{assignment.name}}</a></h4>

{% endfor %}

<hr>
{% for timeline in timelines %}
<div>
    <br>
    <h4><a href="{{ timeline.get_absolute_url }}">{{ timeline.title }}</a></h4>
    <p><small><em>created {{ timeline.created_at|timesince }} ago</small></em></p>

    {% if timeline.get_type == 'text' %}
    {{ timeline.get_content.content|safe }}
    {% endif %}

    {% if timeline.get_type == 'image' %}
    <p><a href="{{ timeline.get_content.image.url }}"><img src="{{ timeline.get_content.thumbnail_image.url }}" alt="{{ timeline.title }}" title="{{ timeline.title }}"></a></p>
    {% endif %}

    {% if timeline.get_type == 'youtube' %}
    <iframe width="480" height="360" src="{{ timeline.get_content.youtube_link.embed_url }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}

    {% if timeline.get_type == 'file' %}
    <p><i class="icon-file"></i> <a href="{{ timeline.get_content.attachment.url }}">{{ timeline.get_content.filename }}</a></p>
    {% endif %}
    <p>&nbsp;</p>
    

</div>

{% endfor %}
{% endif %}

<hr>



<h3>Members:</h3>
<ul>
    {% for member in members %}
    <li><a href="{{ member.user.get_aboslute_url }}">{{ member.user.display_name }}</a>
        {% if course.professor == member.user %}(owner){% endif %}
        {% if member.status != 1 %} - {{ member.get_status_display|lower }}{% endif %}
        {% if member.status == 2 and course.professor == user %}
            <a href="{% url 'academy:accept_course' course.pk member.user.id %}" class="btn">Accept</a> | 
            <a href="{% url 'academy:leave_course' course.pk member.user.id %}" class="btn">Reject</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% endblock %}