{% extends "base.html" %}
{% load assignment_tags %}
{% load url from future %}

{% block title %}Detail Assignment{% endblock %}

{% block content %}

<h1>{{assignment.name}}</h1>
<hr>
{% if assignment.attachment %}
<a href="{{assignment.attachment.url}}">Download file</a>
{% endif %}
<h4>Assignment detail:</h4>
{{assignment.description|safe}}

{% if user != assignment.course.professor %}
    <hr>
    {% if user|already_submit:assignment %}
    {% with submitted_assignment=user|already_submit:assignment %}
    {{ submitted_assignment.}}
    {% endwith %}
    {% else %}
    <h4>Submit your assignment</h4>
    <p>Please submit your assignment by uploading a file</p>
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% endif %}

{% endif %}
{% ifequal user assignment.course.professor %}
<hr>
<h1>Submissions</h1>
{% for member in members %}
    {% with submitted_assignment=member.user|already_submit:assignment %}
    {% if submitted_assignment %}
    <p><a href="{% url 'academy:user_assignment' assignment.course.university.slug assignment.course.pk assignment.pk member.user.username %}">{{member.user.display_name }}</a>{% if not submitted_assignment %} -  no grade yet{% endif %}</p>
    {% endif %}
    {% endwith %}
{% endfor %}
{% endifequal %}
{% endblock %}