{% extends "base.html" %}
{% load url from future %}
{% load course_tags %}
{% load assignment_tags %}

{% block title %}{{course.name}} Course{% endblock %}

{% block content %}

<h2>"{{course}}" Course</h2>

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#info_content" data-toggle="tab">Info</a></li>
        <li><a href="#timeline_content" data-toggle="tab">Timeline</a></li>
        <li><a href="#students_content" data-toggle="tab">Students</a></li>
        <li><a href="#syllabus_content" data-toggle="tab">Syllabus</a></li>
        <li><a href="#assignments_content" data-toggle="tab">Assignments</a></li>
        <li><a href="#files_content" data-toggle="tab">Resources</a></li>
    </ul>

    <div class="tab-content">
        <div id="info_content" class="tab-pane active">
            <h4>Professor:</h4>
            <p><a href="{{ course.professor.get_absolute_url }}"><img src="{{ course.professor.profile.get_small_picture }}"></a></p>

            {% with membership_status=user|membership_status:course  %}
            {% if user != course.professor %}
                {% if not membership_status %}
                <p><a href="{% url 'academy:join_course' course.university.slug course.pk %}" class="btn btn-primary">Join this course</a></p>
                {% endif %}
            {% endif %}
            {% endwith %}

        </div>

        <div id="timeline_content" class="tab-pane">
            {% for timeline in timelines %}
            <div>
                <br>
                <h4><a href="{{ timeline.get_absolute_url }}">{{ timeline.title }}</a></h4>
                <p><small><em>created {{ timeline.created_at|timesince }} ago</small></em></p>

                {% if timeline.get_type == 'text' %}
                {{ timeline.get_content.content|safe }}
                {% endif %}

                {% if timeline.get_type == 'image' %}
                <p><a href="{{ timeline.get_content.image.url }}"><img src="{{ timeline.get_content.thumbnail_image.url }}" alt="{{ timeline.title }}" title="{{ timeline.title }}"></a></p>
                {% endif %}

                {% if timeline.get_type == 'youtube' %}
                <iframe width="480" height="360" src="{{ timeline.get_content.youtube_link.embed_url }}" frameborder="0" allowfullscreen></iframe>
                {% endif %}

                {% if timeline.get_type == 'file' %}
                <p><i class="icon-file"></i> <a href="{{ timeline.get_content.attachment.url }}">{{ timeline.get_content.filename }}</a></p>
                {% endif %}
                <p>&nbsp;</p>
                

            </div>

            {% endfor %}
        </div>

        <div id="students_content" class="tab-pane">
            <h4>Students:</h4>
            <ul>
                {% for member in members %}
                <li><a href="{{ member.user.get_absolute_url }}">{{ member.user.display_name }}</a>
                    {% if course.professor == member.user %}(owner){% endif %}
                    {% if member.status != 1 %} - {{ member.get_status_display|lower }}{% endif %}
                    {% if member.status == 2 and course.professor == user %}
                        <a href="{% url 'academy:accept_course' course.university.slug course.pk member.user.id %}" class="btn btn-primary">Accept</a> 
                        <a href="{% url 'academy:leave_course' course.university.slug course.pk member.user.id %}" class="btn">Reject</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>

        <div id="syllabus_content" class="tab-pane">
            <div class="row">
                <div class="span6">
                {% if syllabuses %}
                <h4>List of syllabus</h4>

                {% for syllabus in syllabuses %}
                    <p><i class="icon icon-file"></i><a href="{{ syllabus.attachment }}"> {{ syllabus.name }}</a></p>
                    {{syllabus.description}}
                {% endfor %}
                {% endif %}
                </div>

                <div class="span3">
                    {% if user|is_member_of:course or user|is_manager_of:course %}
                    <div style="pull-right">
                        <p><i class="icon icon-plus"></i> <a href="{% url 'academy:create_syllabus' course.university.slug course.pk %}">Create New Syllabus</a></p>
                    </div>
                    {% endif %}
                </div>
                
            </div>
        </div>
        <div id="assignments_content" class="tab-pane">
            <div class="row">
                <div class="span6">
                {% if assignments %}
                <h4>Available Assignments</h4>

                {% for assignment in assignments %}
                {% if assignment.attachment %}
                <p><i class="icon icon-file"></i><a href="{{ assignment.attachment.url }}"> {{ assignment.name }}</a> (due in {{ assignment.due_date|timeuntil }})</p>
                {% else %}
                <p><a href="{{ assignment.get_absolute_url }}">{{ assignment.name }}</a> (due in {{ assignment.due_date|timeuntil }})</p>
                {% endif %}
            {% endfor %}
                {% endif %}
                </div>

                <div class="span3">
                    {% if user|is_manager_of:course %}
                    <p><i class="icon icon-plus"></i><a href="{% url 'academy:report_assignment' course.university.slug course.pk %}">Students grades</a></p>
                    <p><i class="icon icon-plus"></i><a href="{% url 'academy:create_assignment' course.university.slug course.pk %}">Create New Assignment</a></p>
                    {% endif %}
                </div>
                
            </div>
        </div>
        <div id="files_content" class="tab-pane">
            <div class="row">
                <div class="span6">
                {% if files %}
                <h4>files</h4>

                    {% for file in files %}
                        <p><i class="icon icon-file"></i><a href="{{ file.attachment.url }}"> {{ file.attachment.name }}</a></p>
                    {% endfor %}
                {% endif %}
                </div>

                <div class="span3">
                    {% if user|is_manager_of:course %}
                        <p><i class="icon icon-plus"></i><a href="{% url 'academy:upload_file'  course.university.slug course.pk %}">Upload New File</a></p>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}