{% extends "base.html" %}

{% block title %} Search Page{% endblock %}

{% block content %}

<h1>Search Box</h2>
<br />

<form action="" method="post">
{% csrf_token %}{{ formset.management_form }}
<fieldset class='textbox' style="padding:10px">
    <input style="margin-top: 8px" type="text" placeholder="Type you looking for" name="searchbox" value="{{search}}" />
    <input class="btn-primary" name="commit" type="submit" value="search" />
</fieldset>
</form>
{% for f in list_friends %}
    {{f.username}} **
{% endfor %}
{% for look in looks %}
{% if user.username != look.username %}
<div>
        <h2>{{look.username}}</h2>
        <br>
        <p>{{look.get_full_name}}</p>
            <a href="{% url friendship_add_friend look.username %}">add as friend</a>
        {{list_friends}}
</div>
{% endif %}
{% endfor %}

{% endblock %}