{% extends "base.html" %}

{% block title %} Search Page{% endblock %}

{% block content %}

<h1>Search Box</h2>
<br />
{% load socialaccount %}
<a href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>

<fieldset class='textbox' style="padding:10px">
                         <input style="margin-top: 8px" type="text" placeholder="Type you looking for" name="searchbox" />
                         <input type="hidden" name="next" value="{{ next }}" />
                         <input class="btn-primary" name="commit" type="submit" value="search" />
                       </fieldset>
{% for look in looks %}
<div>
        <h2>{{look.username}}</h2>
        <br>
        <p>{{look.get_full_name}}</p>
</div>
{% endfor %}

{% endblock %}

