django==1.4.2
south
django-postman
django-pagination
django-friendship
PIL
django-imagekit
django-avatar
django-wysiwyg
facepy==0.8.4
django-celery-with-redis==3.0
git+https://github.com/yomguy/django-jqchat.git
dj-database-url
psycopg2
oauth2
