{% extends "base.html" %}
{% load url from future %}

{% block title %}Find users{% endblock %}

{% block content %}
<script>
    $(function() {
        
        $( "#id_find_username" ).autocomplete({
            source: "/users/finduser/",
            selectFirst:true,
            minLength: 2,
            select: function(event, ui) {
            //assign value back to the form element
            if(ui.item){
                $(event.target).val(ui.item.value);
            }
            //submit the form
            $(event.target.form).submit();
        }
        });
    });
    </script>
<form action="." method="GET">
<p>
    <label for="id_find_username">Find by username: </label>
    <input id="id_find_username" style="margin-top: 8px" type="text" placeholder="Type you looking for" name="q" value="{{search}}" />
    <!--<input class="btn-primary" name="commit" type="submit" value="search" />-->
</p>
</form>

<div>
    {% for user in users %}
    <p><a href="{{ user.get_absolute_url }}">{{ user.display_name }}</a> 
        {% if user not in friends %}
            {% if request.user.is_authenticated %}
                {% ifnotequal request.user user %}
                    <span><a href="{% url 'connections:add' user %}">Add as your friend</a></span>
                {% endifnotequal %}
            {% endif %}
        {% endif %}
        </p>
    {% endfor %}
</div>
<h1>Your Friends</h1> 
{% for f in friends %}
   <li>{{ f.display_name }}</li>
{% endfor %}


{% if query and not users %}
<p>Couldn't find the user you were looking for</p>
{% endif %}
{% endblock %}