{% extends "base.html" %}
{% load url from future %}
{% load connections_tags %}

{% block title %}Find users{% endblock %}

{% block content %}
<script>
    $(function() {
        
        $( "#id_find_username" ).autocomplete({
            source: "/users/finduser/",
            selectFirst:true,
            minLength: 2,
            select: function(event, ui) {
            //assign value back to the form element
            if(ui.item){
                $(event.target).val(ui.item.value);
            }
            //submit the form
            $(event.target.form).submit();
        }
        });

        $( "#id_find_location" ).autocomplete({
            source: "/users/findlocation/",
            selectFirst:true,
            minLength: 2,
            select: function(event, ui) {
            //assign value back to the form element
            if(ui.item){
                $(event.target).val(ui.item.value);
            }
            //submit the form
            $(event.target.form).submit();
        }
        });
    });
    </script>
<form action="." method="GET">
<p>
    <label for="id_find_username">Find by username: </label>
    <input id="id_find_username" style="margin-top: 8px" type="text" placeholder="Type you looking for" name="q" value="{{query}}" />
</p>
<p>
    <label for="id_find_location">Find by Location: </label>
    <input id="id_find_location" style="margin-top: 8px" type="text" placeholder="Type you looking for" name="l" value="{{qlocation}}" />
</p>
</form>

<div>
    {% for user in users %}
    <div>
        <p><a href="{{ user.get_absolute_url }}">{% if user.profile.small_picture %}<img src="{{ user.profile.small_picture.url }}" alt="{{ user.display_name }}"> {% endif %}{{ user.display_name }}</a> 
            <small>Location: {{user.profile.location|title|default:"Unknown"}}</small>
        {% if user not in friends %}
            {% if request.user.is_authenticated %}
                {% if not request.user|is_friend_with:user %}<span><a href="{% url 'connections:add' user %}" class="btn btn-small">Add as your friend</a></span>{% endif %}
            {% endif %}
        {% endif %}
        </p>
    </div>
    {% endfor %}
    <div class="clearfix">&nbsp;</div>
</div>

{% if query and not users %}
<p>Couldn't find the user you were looking for</p>
{% endif %}
{% endblock %}