{% extends "base.html" %}
{% load url from future %}
{% load groups_tags comments %}

{% block title %}{{group.name}} Group{% endblock %}

{% block content %}
{% with membership_status=user|membership_status:group  %}

<h2>"{{group}}" group
    {% if not membership_status %}
    <a href="{% url 'groups:join' group.pk %}" class="btn">Join this group</a>
    {% else %}
        {% if membership_status == 2 %}
        <a href="{% url 'groups:leave' group.pk %}" class="btn">Cancel request</a>
        {% else %}
        {% if membership_status == 1 %}
        <a href="{% url 'groups:leave' group.pk %}" class="btn">Leave Group</a>
        {% endif %}
        {% endif %}
    {% endif %}
</h2>
<br>
{% if user|is_manager_of:group %}
<p><a href="{% url 'groups:manage' group.pk %}">Manage this group</a></p>
{% endif %}
{% endwith %}

<hr>
{% if user|is_member_of:group or group.privacy == 1 %}
{% for timeline in timelines %}
<div class="margin: 20px 0">
    {% if timeline.get_type == 'text' %}
            {% include 'userprofile/timelines_text.html' %}
        {% endif %}

        {% if timeline.get_type == 'image' %}
            {% include 'userprofile/timelines_image.html' %}
        {% endif %}

        {% if timeline.get_type = 'youtube' %}
            {% include 'userprofile/timelines_youtube.html' %}
        {% endif %}
        {% if timeline.get_type = 'file' %}
            {% include 'userprofile/timelines_file.html' %}
        {% endif %}
</div>

{% endfor %}

{% if timelines.paginator.num_pages > 1 %}
<div class="pagination pagination-small pagination-left">
    <ul>
        {% if timelines.has_previous %}
        <li><a href="?page={{ timelines.previous_page_number }}">Newer</a></li>
        {% else %}
        <li class="disabled"><a href="?page={{ timelines.number }}">Newer</a></li>
        {% endif %}
        {% for pagenum in timelines.paginator.page_range %}
        <li {% if pagenum == timelines.number %}class="active"{% endif %}><a href="?page={{ pagenum }}">{{ pagenum }}</a></li>
        {% endfor %}
        {% if timelines.has_next %}
        <li><a href="?page={{ timelines.next_page_number }}">Older</a></li>
        {% else %}
        <li class="disabled"><a href="?page={{ timelines.number }}">Older</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}

<hr>

<h3>Members:</h3>
<ul>
    {% for member in members %}
    <li><a href="{{ member.user.get_aboslute_url }}">{{ member.user.display_name }}</a>
        {% if group.created_by == member.user %}(owner){% endif %}
        {% if member.status != 1 %} - {{ member.get_status_display|lower }}{% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(function() {
    $("a.comments-list").click(function() {
        $(this).parents('.timeline-info').siblings('.comments').toggle();
        return false;
    });
});
</script>
{% endblock %}