{% extends "base.html" %}
{% load url from future %}
{% load groups_tags comments %}

{% block title %}{{group.name}} Group{% endblock %}

{% block content %}
{% with membership_status=user|membership_status:group  %}

<h2>"{{group}}" group
    {% if not membership_status %}
    <a href="{% url 'groups:join' group.pk %}" class="btn">Join this group</a>
    {% else %}
        {% if membership_status == 2 %}
        <a href="{% url 'groups:leave' group.pk %}" class="btn">Cancel request</a>
        {% else %}
        {% if membership_status == 1 %}
        <a href="{% url 'groups:leave' group.pk %}" class="btn">Leave Group</a>
        {% endif %}
        {% endif %}
    {% endif %}
</h2>
<br>
{% if user|is_manager_of:group %}
<p><a href="{% url 'groups:manage' group.pk %}">Manage this group</a></p>
{% endif %}
{% endwith %}

<hr>
{% if user|is_member_of:group or group.privacy == 1 %}
{% for timeline in timelines %}
<div>
    <br>
    <h4><a href="{{ timeline.get_absolute_url }}">{{ timeline.title }}</a></h4>
    <p><small><em>created {{ timeline.created_at|timesince }} ago</small></em></p>

    {% if timeline.get_type == 'text' %}
    {{ timeline.get_content.content|safe }}
    {% endif %}

    {% if timeline.get_type == 'image' %}
    <p><a href="{{ timeline.get_content.image.url }}"><img src="{{ timeline.get_content.thumbnail_image.url }}" alt="{{ timeline.title }}" title="{{ timeline.title }}"></a></p>
    {% endif %}

    {% if timeline.get_type == 'youtube' %}
    <iframe width="480" height="360" src="{{ timeline.get_content.youtube_link.embed_url }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}

    {% if timeline.get_type == 'file' %}
    <p><i class="icon-file"></i> <a href="{{ timeline.get_content.attachment.url }}">{{ timeline.get_content.filename }}</a></p>
    {% endif %}
    <p>&nbsp;</p>

    <div class="padding-left: 10px">
        {% render_comment_list for timeline %}
        {% render_comment_form for timeline %}
    </div>
</div>

{% endfor %}

{% if timelines.paginator.num_pages > 1 %}
<div class="pagination pagination-small pagination-left">
    <ul>
        {% if timelines.has_previous %}
        <li><a href="?page={{ timelines.previous_page_number }}">Newer</a></li>
        {% else %}
        <li class="disabled"><a href="?page={{ timelines.number }}">Newer</a></li>
        {% endif %}
        {% for pagenum in timelines.paginator.page_range %}
        <li {% if pagenum == timelines.number %}class="active"{% endif %}><a href="?page={{ pagenum }}">{{ pagenum }}</a></li>
        {% endfor %}
        {% if timelines.has_next %}
        <li><a href="?page={{ timelines.next_page_number }}">Older</a></li>
        {% else %}
        <li class="disabled"><a href="?page={{ timelines.number }}">Older</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}

<hr>

<h3>Members:</h3>
<ul>
    {% for member in members %}
    <li><a href="{{ member.user.get_aboslute_url }}">{{ member.user.display_name }}</a>
        {% if group.created_by == member.user %}(owner){% endif %}
        {% if member.status != 1 %} - {{ member.get_status_display|lower }}{% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}