<!DOCTYPE html>
<html>
<head>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/jquery-ui.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/base.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}bootstrap/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-scrollspy.js"></script>
    <script language="javascript">
    $('.dropdown-toggle').dropdown();
    $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
      });
</script>
    <title>{% block title %}School Network{% endblock %}</title>
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="{% url postman_inbox %}">Inbox</a></li>
          <li><a href="{% url postman_write %}">Write Message</a></li>
          <li><a href="{% url connections:search %}">Browse All users</a></li>
          <!-- user register-->
          {% if not user.is_authenticated %}
            {# <li><a href="{% url panel:signup_page %}">Signup</a></li> #}
            <li><a href="{% url account_reset_password %}">Forgot Password</a></li>
          {% else %}
            {# <li><a href="{% url friendship_view_friends user.username %}">List Friends</a></li> #}
             <li><a href="{% url connections:friends %}">Friends</a></li> 
             <li><a href="{% url socialaccount_connections %}">Social Media</a></li> 
            <li><a href="{% url account_change_password %}">Change Password</a></li>
          {% endif %}

          <!-- here comes the important part -->
           {% if user.is_authenticated %}
                <li class="dropdown" id="menu1">
                   <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                    {% if user.get_full_name %}
                      {{ user.get_full_name }}
                    {% else %}
                      {{ user.email }}
                    {% endif %}
                      <b class="caret"></b>
                   </a>
                   <div class="dropdown-menu">
                    <ul>
                      {# <li><a href="{% url userprofile:profile %}">Edit Profile</a></li>  #}
                      <li><a href="{% url account_logout %}">Logout</a></li>
                    </ul>
                   </div>
                 </li>
           {% else %}
                 <li><a href="{% url account_login %}">Sign in</a></li>
            {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <header>
    &nbsp;
  </header>
  <section>
    <div class="row">
      <div class="span3">
        <div class="well">

          <ul class="nav nav-list">
              <li class="nav-header">
                User
              </li>
              <li>
        </ul>
        </div>
      </div>
      <div class="span9">
        {% block content %}{% endblock %}
      </div>
    </div>
  </section>
</div>
</body>
</html>