<!DOCTYPE html>
<html>
<head>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/jquery-ui.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/base.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}bootstrap/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-scrollspy.js"></script>
    <script language="javascript">
    $('.dropdown-toggle').dropdown();
    $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
      });
    </script>
    {% block extrajs %}{% endblock %}
    <title>{% block title %}School Network{% endblock %}</title>
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <div class="nav-collapse collapse">
        <ul class="nav">
            <li class="active"><a href="/" class="brand">School Network</a></li>
            
            {% if user.is_authenticated %}
              <li class="dropdown" id="messages-menu">
                  <a href="#messages-menu" class="dropdown-toggle" data-toggle="dropdown">Messages <b class="caret"></b></a>

                  <ul class="dropdown-menu">
                      <li><a href="{% url postman_inbox %}">Inbox</a></li>
                      <li><a href="{% url postman_write %}">Write Message</a></li>
                  </ul>
              </li>

              <li class="dropdown" id="users-menu">
                  <a href="#users-menu" class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>

                  <ul class="dropdown-menu">
                      <li><a href="{% url connections:search %}">All users</a></li>
                      <li><a href="{% url connections:friends %}">Friends</a></li> 
                  </ul>
              </li>

              <li class="dropdown" id="groups-menu">
                  <a href="#groups-menu" class="dropdown-toggle" data-toggle="dropdown">Groups <b class="caret"></b></a>

                  <ul class="dropdown-menu">
                      <li><a href="{% url groups:create %}">Create a group</a></li>
                      <li><a href="{% url groups:index %}">All groups</a></li>
                      <li><a href="{% url userprofile:user_groups user %}">My groups</a></li>
                      {# <li><a href="{% url connections:friends %}">Friends</a></li>  #}
                  </ul>
              </li>
              
                <li class="dropdown" id="course-menu">
                  <a href="#course-menu" class="dropdown-toggle" data-toggle="dropdown">Academy<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url academy:index %}">Universities</a></li>
                      {% if user.is_professor or user.is_school_admin or user.is_superuser %}
                      {# <li><a href="{% url academy:create_course %}">Create Course</a></li> #}
                      {% endif %}
                    </ul>
                </li>
               {% if user.is_superuser or user.is_school_admin %}
                <li class="dropdown" id="settings-menu">
                  <a href="#settings-menu" class="dropdown-toggle" data-toggle="dropdown">Academy Settings <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      {% if user.is_school_admin %}
                      {# <li><a href="{% url userprofile:usergroup %}">Assign Professors</a></li> #}
                      {% else %}
                      <li><a href="{% url academy:create_university %}">Create University</a></li>
                      {# <li><a href="{% url userprofile:usergroup %}">Assign School Admin</a></li> #}
                      {% endif %}
                    </ul>
                </li>
              {% endif %}

            {% else %}
              <li><a href="{% url account_signup %}">Register</a></li>
              <li><a href="{% url account_login %}">Sign in</a></li>
              <li><a href="{% url account_reset_password %}">Forgot your Password?</a></li>
            {% endif %}
            <!-- user register-->
            {% if not user.is_authenticated %}
            {% else %}
            
            {% endif %}
        </ul>

        <ul class="nav pull-right">
            <!-- here comes the important part -->
           {% if user.is_authenticated %}
            <li class="dropdown" id="menu1">
               <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                {% if user.get_full_name %}
                  {{ user.get_full_name }}
                {% else %}
                  {{ user.email }}
                {% endif %}
                  <b class="caret"></b>
               </a>
               <div class="dropdown-menu">
                    <ul>
                        <li><a href="{% url userprofile:detail request.user %}">My profile</a></li> 
                        <li><a href="{% url userprofile:edit request.user %}">Edit Profile</a></li> 
                        <li><a href="{% url account_change_password %}">Change Password</a></li>
                        <li><a href="{% url socialaccount_connections %}">Link account</a></li> 
                        <li><a href="{% url account_logout %}">Logout</a></li>
                    </ul>
                </div>
            </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <header>
    &nbsp;
  </header>
  <section>
    <div class="row">
      <div class="span9">
        {% block content %}{% endblock %}
      </div>

      <div class="span3">
        {% if request.user.is_authenticated %}
        <h3>Shortcuts</h3>
        <ul class="nav nav-list">
          <li class="nav-header">Your groups</li>
          {% for group in user.active_groups %}
          <li><a href="{{ group.get_absolute_url }}">{{ group.name }}</a></li>
          {% empty %}
          <li>You do not belong to any of the groups yet.</li>
          {% endfor %}
          
          <li class="nav-header">Courses</li>
          {% for course in user.active_course %}
          <li><a href="{{ course.get_absolute_url}}">{{ course.name }}</a></li>
          {% empty %}
          <li>You are not registered to any courses yet</li>
          {% endfor %}

          <li class="nav-header">School</li>
          {% for university in user.university_set.all %}
          <li><a href="{{ university.get_absolute_url }}">{{ university.name }}</a></li>
          {% empty %}
          <li>You are not registered with any school yet.</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% block sidebar %}{% endblock %}
      </div>
    </div>
  </section>
</div>
</body>
</html>