{% extends "base.html" %}
{% load friendshiptags %}

{% block content %}

<h2>
    {% if user_profile.profile.small_picture %}<img src="{{ user_profile.profile.small_picture.url }}" alt="{{ user_profile.display_name }}"> {% endif %}{{ user_profile.display_name }}'s friends:
</h2>


<div class="friends">
    {% friend_request_count user_profile %}
</div>

<div class="friends">
    {% for f in friends %}
    {{ f.display_name }}</li>
    {% endfor %}
</div>

<hr>

<h3>{{ user_profile.display_name }}'s Status</h3>

{% for timeline in user_profile.profile.timelines.all %}
<div>
    <br>
    <h4><a href="{{ timeline.get_absolute_url }}">{{ timeline.title }}</a></h4>
    <p><small><em>created {{ timeline.created_at|timesince }} ago</small></em></p>

    {% if timeline.get_type == 'text' %}
    {{ timeline.get_content.content|safe }}
    {% endif %}

    {% if timeline.get_type == 'image' %}
    <p><a href="{{ timeline.get_content.image.url }}"><img src="{{ timeline.get_content.thumbnail_image.url }}" alt="{{ timeline.title }}" title="{{ timeline.title }}"></a></p>
    {% endif %}
    <p>&nbsp;</p>
</div>

{% endfor %}
{% endblock %}