{% extends "base.html" %}
{% load friendshiptags %}

{% block content %}

<h1>{{ user_profile.display_name }}'s friends:</h1>

<div class="friends">
    {% friend_request_count user_profile %}
    {% friends user_profile %}
</div>

{% if user_profile.socialaccount_set.exists %}
{% for account in user.socialaccount_set.all %}
    <h2 style="text-transform:capitalize;">{{ account.provider }}</h2>
    <p><img width="50" height="50" src="{{ account.get_avatar_url }}" /></p>
{% endfor %}
{% endif %}
{% endblock %}