{% extends "base.html" %}
{% load url from future %}
{% load friendshiptags comments %}

{% block sidebar %}
<div class="friends">
    <h3>Friends</h3>
    <ul class="nav nav-list">
    {% for f in friends %}
    <li><a href="{{ f.get_absolute_url }}">{{ f.display_name }}</a></li>
    {% endfor %}
    </ul>
</div>
    
{% endblock %}


{% block content %}
<div class="user_info">
    <h3><img src="{{ user_profile.profile.get_small_picture }}" width="25" height="25" alt="{{ user_profile.display_name }}"> {{ user_profile.display_name }}</h3>
</div>

<div class="tabbable" style="margin: 20px 0">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#user-timeline" data-toggle="tab">Timeline</a></li>
        <li><a href="#user-courses" data-toggle="tab">Courses</a></li>
        <li><a href="#user-events" data-toggle="tab">Events</a></li>
    </ul>

    <div class="tab-content">
        <div id="user-timeline" class="active tab-pane">
            <div class="row">
                <div class="span6">
                    {% for timeline in timelines %}
                    <div class="margin-bottom: 20px;">

                        {% if timeline.get_type == 'text' %}
                            {% include 'userprofile/timelines_text.html' %}
                        {% endif %}

                        {% if timeline.get_type == 'image' %}
                            {% include 'userprofile/timelines_image.html' %}
                        {% endif %}

                        {% if timeline.get_type = 'youtube' %}
                            {% include 'userprofile/timelines_youtube.html' %}
                        {% endif %}
                        {% if timeline.get_type = 'file' %}
                            {% include 'userprofile/timelines_file.html' %}
                        {% endif %}

                    </div>

                    {% endfor %}

                    {% if timelines.paginator.num_pages > 1 %}
                    <div class="pagination pagination-small pagination-left">
                        <ul>
                            {% if timelines.has_previous %}
                            <li><a href="?page={{ timelines.previous_page_number }}">Newer</a></li>
                            {% else %}
                            <li class="disabled"><a href="?page={{ timelines.number }}">Newer</a></li>
                            {% endif %}
                            {% for pagenum in timelines.paginator.page_range %}
                            <li {% if pagenum == timelines.number %}class="active"{% endif %}><a href="?page={{ pagenum }}">{{ pagenum }}</a></li>
                            {% endfor %}
                            {% if timelines.has_next %}
                            <li><a href="?page={{ timelines.next_page_number }}">Older</a></li>
                            {% else %}
                            <li class="disabled"><a href="?page={{ timelines.number }}">Older</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                </div>

                <div class="span3">
                    {% if user_profile == request.user %}
                    <div class="tabbable" style="background: #f7f7f7; padding: 10px;border-radius: 8px; margin: 20px 0;">
                        <h5>share your status:</h5>

                        <ul class="nav nav-pills">
                          <li><a href="#upload_text_wrapper" data-toggle="tab">Text</a></li>
                          <li><a href="#upload_image_wrapper" data-toggle="tab">Image</a></li>
                          <li><a href="#upload_youtube_wrapper" data-toggle="tab">Youtube</a></li>
                          <li><a href="#upload_file_wrapper" data-toggle="tab">File</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="upload_text_wrapper" class="tab-pane">
                                <form action="{% url 'userprofile:upload_text' %}" method="POST">{% csrf_token %}
                                    {{ text_form.as_p }}
                                    <button type="submit" class="btn btn-primary">Share</button>
                                </form>
                            </div>
                            
                            <div id="upload_image_wrapper" class="tab-pane">
                                <form action="{% url 'userprofile:upload_picture' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                                    {{ image_form.as_p }}
                                    <button type="submit" class="btn btn-primary">Upload image</button>
                                </form>
                            </div>
                            
                            <div id="upload_youtube_wrapper" class="tab-pane">
                                <form action="{% url 'userprofile:upload_youtube' %}" method="POST">{% csrf_token %}
                                    {{ youtube_form.as_p }}
                                    <button type="submit" class="btn btn-primary">Share YouTube video</button>
                                </form>
                            </div>
                            
                            <div id="upload_file_wrapper" class="tab-pane">
                                <form action="{% url 'userprofile:upload_file' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                                    {{ file_form.as_p }}
                                    <button type="submit" class="btn btn-primary">Upload file</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div id="user-courses" class="tab-pane">
            <table class="table table-hover">
            <h3>Registered Courses</h3>
            <thead>
                <tr>
                    <th colspan="2">Course name</th>
                    <th>Students</th>
                </tr>
            </thead>
            <tbody>
                {% for course in user_profile.active_courses %}
                <tr>
                    <td colspan="2">
                        <p><a href="{{ course.get_absolute_url }}">{{ course.name }}</a> <small>{{ course.total_students }} student(s)</small></p>
                    </td>
                    <td>{% for member in course.coursemembership_set.all %}
                        <p><a href="{{ member.user.get_absolute_url }}">
                            <p>{{member.user.display_name}}</p>
                        {% endfor %}
                    </td>
                </tr>
            {% empty %}
            <tr>
            <p>{{ user_profile.display_name }} is not registered to any courses</p>
            </tr>
            {% endfor %}
            </tbody>
            </table>

        </div>
        <div id="user-events" class="tab-pane">
            <table class="table table-hover">
            <h3>Events</h3>
            
            <tbody>
                {% for event in events %}
                <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Description</th>
                                <th>Event Date</th>
                            </tr>
                        </thead>
                        <tbody>

                        {% for event in events %}
                        <tr>
                            <td>{{ event.name }}</td>
                            <td>{{ event.description }}</td>
                            <td>{{ event.event_date }}</td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>            
            </tbody>
            </table>
            
         {% comment %}  <p><i class="icon icon-plus"></i><a href="{% url 'userprofile:create_event' userprofile.pk %}">Create New Event</a></p>   {% endcomment %}
                    

        </div>
    </div>


</div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(function() {
    $("a.comments-list").click(function() {
        $(this).parents('.timeline-info').siblings('.comments').toggle();
        return false;
    });
});
</script>
{% endblock %}